<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="Logs_Trace" 
            fileName="${var:LogPath}\Logs_Trace.txt"
            layout="${date}|${level}|${callsite:includeNamespace=False:includeSourcePath=False}|${message}|${exception:format=tostring}"
	  />
    <target xsi:type="File" name="Logs_Debug"
            fileName="${var:LogPath}\Logs_Debug.txt"
            layout="${date}|${message}|${exception:format=tostring}"
	  />
    <target xsi:type="File" name="Logs_Info"
            fileName="${var:LogPath}\Logs_Info.txt"
            layout="${date}|${level}|${message}|${exception:format=tostring}"
	  />
    <target xsi:type="Debugger" name="Output"
            layout="${date}|${level}|${callsite:includeNamespace=False:includeSourcePath=False}|${message}|${exception:format=tostring}"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Logs_Trace" />
    <logger name="*" minlevel="Debug" writeTo="Output" />
  </rules>
</nlog>